<div id="hero">
  <div class="container">
    <img class="avatar" src="/assets/avatar.jpg">
    <h1>Adam Ryan</h1>
    <a href="https://www.github.com/abams" target="_blank"><img src="../assets/github.png"/></a>
    <a href="https://www.linkedin.com/pub/adam-ryan/39/a38/848/" target="_blank"><img src="../assets/linkedin.png"/></a>
    <a href="https://www.twitter.com/abams_" target="_blank"><img src="../assets/twitter.png"/></a>
  </div>
</div>
<div id="about">
  <div class="container">
  <h1>About Me</h1>
  <p>Hi, my name is Adam, I'm a Software Engineer living in San Francisco.  I build Web Apps and APIs at work, and ping-pong leaderboards and chat room CLIs at home.  I've been developing for about two years and have been having more fun than I ever imagined!</p>
    </div>
</div>
<div id="work">
  <div class="container">
    <h1>My Work</h1>
    <p>My primary responsibilities have involved building and maintaining APIs and backend code in for iOS clients in Ruby on Rails.  In my most recent roles I've been responsible for more front end code as well.</p>
  </div>
</div>
<div id="projects">
  <div class="container">
    <table>
    <tr>
    <td><a href="https://www.byliner.com" target="_blank"><img class="icon ios" src="../assets/byliner_logo.png"/></a></td>
    <td><a href="https://www.everlapse.com" target="_blank"><img class="icon ios" src="../assets/everlapse_logo.png"/></a></td>
    <td><a href="http://techcrunch.com/2013/11/25/byliner-acquires-seesaw/" target="_blank"><img class="icon" src="../assets/seesaw_logo.png"/></a></td>
    </tr>
    </table>
  </div>
</div>
<div id="copyright" class="container">
  <p>Copyright &copy; 2014 Adam Ryan</p>
</div>

