$avatarSize: 200px;
$textColorDark: #222;
$textColorLight: lighten($textColorDark, 60%);
$heroGradiantLight: #21B5FF;
$heroGradiantDark: #568EEF;

html {
  font-weight: 100;

  h1 {
    font-weight: 100;
  }
}

body {
  font-family: helvetica;
  margin: 0 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  color: $textColorDark;
}

.container {
  $width: 550px;
  $padding: 20px;

  width: $width;
  margin: 4em auto;
  box-sizing: border-box;

  @media screen and (max-width: $width + $padding * 2) {
      width: 100%;
      padding: 0 $padding;
      margin: 3em 0;
  }
}

#hero {
  color: white;
  padding: 0.25em 0 0.25em 0;
  line-height: 0.5;

  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, $heroGradiantLight 0%, $heroGradiantDark 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, $heroGradiantLight 0%, $heroGradiantDark 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, $heroGradiantLight 0%, $heroGradiantDark 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $heroGradiantLight), color$heroGradiantDark(1, #568EEF));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, $heroGradiantLight 0%, $heroGradiantDark 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, $heroGradiantLight 0%, $heroGradiantDark 100%);

  .container {
    text-align: center;
  }

  .avatar {
    width: $avatarSize;
    height: $avatarSize;
    border-radius: $avatarSize / 2;
  }
}

#projects {
  table {
    margin: 0 auto;
    float: left;
  }

  td {
    padding: 0 1em 0 1em;

    @media screen and (max-width: 540px) {
      width: 33%;
    }
    @media screen and (max-width: 440px) {
      width: 50%;
    }
  }

  .icon {
    width: 120px;
  }

  .icon.ios {
    width: 120px;
    border-radius: 20px;
  }
}

#copyright {
  text-align: center;
  color: $textColorLight;
  font-size: 0.8em;
}
